<ion-header color = "menus">
  <ion-navbar color = "menus" hideBackButton="true">

      <ion-buttons left>
            <button ion-button icon-only (click)="onToggleMenu()">
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-buttons>

    <ion-title>Consultation</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="login-content"  padding>
   <div><h4>Ordonnance</h4></div>
   <div *ngFor="let hopital of prestataireList">
         <ion-list *ngIf="hopital.type=='Hopital'"><h6>hopital:</h6>{{hopital.nom}}</ion-list>
     </div>
     <ion-list><h6>Prenom:</h6> {{malade.prenom}}</ion-list>
     <ion-list><h6>Nom:</h6> {{ malade.nom}}</ion-list>
     <ion-list><h6>Date de Nais:</h6> {{malade.date_nais}}</ion-list>
   <div class="login-box">
   <form
      [formGroup]="form"
      (ngSubmit)="manage(form.value)">
   	  <ion-list margin-bottom>
               
	     <div
	        formArrayName="technologies"
	        margin-bottom>
            <section
               [formGroupName]="i"
               *ngFor="let tech of form.controls.technologies.controls; let i = index">
               <ion-item-group>
                  <ion-item>
                     <ion-label floating>Nom du medicament:</ion-label>
                     <ion-input type="text" maxlength="50" formControlName="name"></ion-input>
                  </ion-item>
                  <span float-right ion-button icon-left clear
                    *ngIf="form.controls.technologies.length >= 0"
                     (click)="removeInputField(i)">
                     <ion-icon name="close"></ion-icon>
                     Supprimer
                  </span>
               </ion-item-group>
            </section>
         </div>


         <!-- Allow new input field to be generated/added -->
         <span ion-button float-left icon-left clear (click)="addNewInputField()">
               <ion-icon name="add"></ion-icon>
               Ajouter un médicament 
         </span>
         <ion-item>
            <ion-label floating>Montant de la consultation</ion-label><br>
            <ion-input aria-placeholder="sum" type="number" aria-required="true" formControlName="montant"></ion-input>
          </ion-item>


   	 </ion-list>


   	 <!-- Only allow form to be submitted IF validation criteria for
              input fields has been successfully passed -->
              <ion-col class="signup-col">
         <button  ion-button block margin-top (click)="onSubmitForm()" color="menus" class="submit-btn" [disabled]="form.invalid"  text-center >Soumettre</button>
         </ion-col>
         <span ion-text color="danger" *ngIf = "message">Vous n'avez prescrit aucun médicament</span>
   </form>
   </div>

</ion-content>