<ion-header color = "menus">
  <ion-navbar color = "menus" hideBackButton="true">

      <ion-buttons left>
          <button ion-button icon-only (click)="onToggleMenu()">
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>

    <ion-title>Ordonnance</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngFor="let hopital of prestataireList">
      <ion-list *ngIf="hopital.type=='Hopital'"><h6>hopital:</h6>{{hopital.nom}}</ion-list>
  </div>
  <ion-list><h6>Prenom:</h6> {{malade.prenom}}</ion-list>
  <ion-list><h6>Nom:</h6> {{ malade.nom}}</ion-list>
  <ion-list><h6>Date de Nais:</h6> {{malade.date_nais}}</ion-list>
  <h6 >Liste des médicaments:</h6>
  <div *ngFor="let medicament of consultationList" class="centrer">
    <ion-item-divider *ngIf="medicament.id_user==malade.id_user && medicament.etat==0">
      <h6 *ngFor="let medoc of medicament.medicaments">{{medoc.name}}</h6>
      </ion-item-divider>
  </div>
  <div>
  <form [formGroup]="form">
    <ion-list margin-bottom>
  
      <div *ngFor="let medicament of consultationList">
          <ion-item *ngIf="medicament.id_user==malade.id_user && medicament.etat==0">
              <ion-label floating>Entrez le montant de l'ordonnance</ion-label><br>
              <ion-input type="number" aria-required="true"  aria-placeholder="sum" formControlName="montant"></ion-input>
            </ion-item>
      </div>
  </ion-list>
  <div *ngFor="let medicament of consultationList">
    <button  *ngIf="medicament.id_user==malade.id_user && medicament.etat==0" ion-button block margin-top color="menus" text-center (click)="onSubmitForm()" class="mbutton"
      [disabled]="form.invalid">Soumettre</button>
      <h6 *ngIf="medicament.id_user==malade.id_user && medicament.etat==1">Pas d'ordonnance disponible pour cette personne!</h6>
  </div>
  </form>
  </div>
</ion-content>