.demande{
    color: #51CFB1;
    font-size: 25px;
    text-align: center;
    font-family: Georgia, serif;
}
.intro{
    text-align: center;
    font-size: 15px;
}
.indiv{
    height: 60%;
}
.mbutton{
    border-radius: 17px;
}