<ion-header>
  <ion-navbar color="menus" no-lines no-padding hideBackButton="true">
      <ion-title class="title">Qrcode</ion-title>
      <ion-buttons left>
          <button ion-button icon-only (click)="onToggleMenu()">
              <ion-icon name="menu"></ion-icon>
          </button>
      </ion-buttons>
</ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
      <ion-row>
          <ion-col>    
            <ion-card  *ngIf="type=='Beneficiaire'">
              <ion-card-header>
               Mon Qrcode
              </ion-card-header>
                  <ngx-qrcode [(qrc-value)]="createdCode"></ngx-qrcode>
                  <ion-card-content>
                    <ul>
                      <li>Prenom: {{utilisateur.prenom}}</li>
                      <li>Nom: {{utilisateur.nom}}</li>
                      <li>Date de Nais: {{utilisateur.date_nais}}</li>
                    </ul>
                  </ion-card-content>
                  </ion-card>
          </ion-col>
        </ion-row>
    <ion-row *ngIf="profession=='Medecin'">
        <ion-card class="aider">
            <img src="../assets/imgs/medecin.png" />
        </ion-card>
      
        <p>
          Pour prescrire une ordonnance au patient vous devez scanner son QrCode.
        </p>
      
      <ion-col>
          <button ion-button full (click)="scanMedecin()" color="menus" class="mbutton">       
              Scanner le Qrcode du Patient
          </button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="profession=='Pharmacien'">

        <ion-card class="aider">
            <img src="../assets/imgs/medoc.jpg" />
        </ion-card>
      
        <p>
          Vous devez scanner le QrCode du patient pour visualiser son ordonnance et saisir les prix des médicaments.
        </p>

        <ion-col>
            <button ion-button full (click)="scanPharmacien()" color="menus" class="mbutton">       
                Scanner le Qrcode du Patient
            </button>          
        </ion-col>
      </ion-row>
      <ion-row *ngIf="profession=='Medecin'">
          <div *ngIf="MaladeFound">
              <ion-card class="aider">
                  <img src="../assets/imgs/Consultez.jpg" />
              </ion-card>
    
              <p>
                  Cliquer ici pour prescrire une ordonnance au patient
                </p>
        
            <div>        
                <button ion-button full (click)="onGotoConsultation()" color="menus" class="mbutton">       
                    Prescrire une ordonnance
                </button>  
            </div>
          </div>
        </ion-row>
        <ion-row *ngIf="profession=='Pharmacien'">
            <div *ngIf="MaladeFound">
                <ion-card class="aider">
                    <img src="../assets/imgs/Consultez.jpg" />
                </ion-card>
      
                <p>Cliquer ici pour voir l'ordonnance au patient et éventuellement lui vendre ses medicaments</p>
          
              <div>        
                  <button ion-button full (click)="onGotoVente()" color="menus" class="mbutton">       
                      Consulter ordonnance
                  </button>  
                </div>
            </div>
          </ion-row>
      </ion-grid>
  
</ion-content>