.entete{
    text-align: center;
    color:#51CFB1;
    font-size: 18px;
}
.header{
    color:#51CFB1;
}
.titre1{
    text-align: center;
    font-family: Georgia, serif;
    font-size: 25px;
}

.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
  }
.card{
    background-color: #51CFB1;
    height:100%;
    border-radius: 15px;
    font-family: Georgia, serif;
}

.card-title{
    height:20%;
}
  